.container{
    width: 600px;
    height: 600px;
    margin: auto;
}

body {
    background-color: rgba(137, 233, 224, 0.468);
}

.pocket {
    display: inline-block;
    width: 29%;
    padding-bottom: 29%;
    background-color: burlywood;
    border-radius: 50%;
    cursor: pointer;
}

h1 {
    text-align: left;
    font-size: 45px;
}

span {
    color: rgb(255, 6, 6);
}

