@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
.container{
    width: 600px;
    height: 600px;
    margin-left: 682px;
    position: absolute;
}

body {
    background-color: rgba(137, 233, 224, 0.468);
}

.pocket {
    display: inline-block;
    width: 29%;
    padding-bottom: 29%;
    background-color: burlywood;
    border-radius: 50%;
    cursor: pointer;
}

h1 {
    margin-left: 65px;
    font-size: 45px;
    font-family: Chalkduster, fantasy
}

span {
    color: rgb(255, 6, 6);
}

section {
    display: flex;
    justify-content: space-evenly;
}

.clicks {
    position: absolute;
    left: 450px;
    top: 230px;
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Bangers', cursive;
    color: rgba(220, 46, 15, 0.755);
  }
  .third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.timer {
    position: absolute;
    left: 450px;
    top: 312px;
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Bangers', cursive;
    color: rgba(220, 46, 15, 0.755);
}

#start--game {
    position: absolute;
    left: 450px;
    top: 400px;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.reset {
    position: absolute;
    left: 450px;
    top: 482px;
}

#surprise--mole {
    width: 400px;
    height: 400px;
    background-position: center;
    opacity: 0.75;
    position: absolute;
    margin-top: 200px;
}