.container{
    width: 600px;
    height: 600px;
    margin: auto;
}


.pocket {
    display: inline-block;
    width: 29%;
    padding-bottom: 29%;
    background-color: burlywood;
    border-radius: 50%;
    cursor: pointer;
}